* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: black;
}
.slider {
  height: 100%;
}
.slider_layer {
  position: absolute;
  inset: 0;
  background-size: cover;
}
